$primary-color: #00c8ac;
$middle-primary:#019783;
$dark-primary:#31394c;
$background-color:#eaebed;
$text-color:#ffffff;
$blur-text-color:#f0f0f0;

.Sidebar{
    position: relative;
}
.SideBar-container{
    width: 16.66%;
    background-color: $dark-primary;
    height: 100vh;
    position: fixed;
    box-shadow: #395a66dd 0 2px 9px;
}